<ion-tabs style="background-color: red;">
  <ion-tab-bar style="background-color: red;" slot="bottom">
    <ion-tab-button style="background-color: red;" tab="tab1" href="/tabs/tab1">
      <ion-icon style="background-color: red;" aria-hidden="true" name="calendar-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button style="background-color: red;" tab="tab2" href="/tabs/tab2">
      <ion-icon style="background-color: red;" aria-hidden="true" name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button style="background-color: red;" tab="tab3" href="/tabs/tab3">
      <ion-icon style="background-color: red;" aria-hidden="true" name="bandage-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
