<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="display: flex; justify-content: center;">
    <img src="../../assets/pilleaten.png" alt="pilleaten" width="8%" height="8%">
  </div>

  <div>
    <h1 style="color: red;">Hi Wafiq,</h1>
  </div>
  
  <div>
    <h1 style="color: black;">Good morning sayang ❤️</h1>
  </div>

  <ion-button style="position: absolute; top: 0; right: 0; width: 100px; height: 100px; " color="light" [routerLink]="['/profile']" transparent>
    <ion-card> <img src="../../assets/profile.png" alt=""> </ion-card>
  </ion-button>

  <hr style="border-top: 3px solid black;">
  <ion-card style="background-color: red;">
  <ion-card style="background-color: red;">
    <ion-card style="background-color: red;">
      <ion-card style="background-color: black;">
        <b><h1 style="display: flex; justify-content: center; color: white; font-weight: bold;">History log</h1></b>
      </ion-card>
      
      <ion-card-content>
        <ion-card-title>

        </ion-card-title>
        <ion-card-subtitle>

        </ion-card-subtitle>
        <ion-card-content>
        </ion-card-content>
      </ion-card-content>
    </ion-card>
  </ion-card>

  <!-- Duplicate the card structure for additional entries -->
  <ion-card style="background-color: red;">
    <ion-card style="background-color: red;">
      <ion-card-content>
        <ion-card-title>
          <h1 style="color: black;">13 February</h1>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-card> <h2>You ate three pills</h2> </ion-card>
        </ion-card-subtitle>
        <ion-card-content>
        </ion-card-content>
      </ion-card-content>
    </ion-card>
  </ion-card>

  <!-- Additional duplicated cards go here -->

  <ion-card style="background-color: red;">
    <ion-card style="background-color: red;">
      <ion-card-content>
        <ion-card-title>
          <h1 style="color: black;">14 February</h1>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-card> <h2>You ate 2 pills of paracetemol,
            Last day of paracetemol intake.</h2> </ion-card>
        </ion-card-subtitle>
        <ion-card-content>
        </ion-card-content>
      </ion-card-content>
    </ion-card>
  </ion-card>

  <ion-card style="background-color: red;">
    <ion-card style="background-color: red;">
      <ion-card-content>
        <ion-card-title>
          <h1 style="color: black;">3 March</h1>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-card> <h2>You ate three pills</h2> </ion-card>
        </ion-card-subtitle>
        <ion-card-content>
        </ion-card-content>
      </ion-card-content>
    </ion-card>
  </ion-card>
  </ion-card>

  <ion-button [routerLink]="['/profile']" transparent>
    <ion-icon aria-hidden="true" name="arrow-back-circle-outline"></ion-icon>
  </ion-button>
</ion-content>
